body { background-color: #cf3030; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9oGCQ84OLn4bJsAAAAddEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIFRoZSBHSU1Q72QlbgAAAEtJREFUKM+V0SEOACEMRNFfZBX3P+Wq0TgSAsnOVDbvp6LFYyTN1767v0owQCX4CBy8AxcDVIIBRoIlzZHg68IfPgIH78DF1+OcJy4IlS8EGnBm5QAAAABJRU5ErkJggg==');  padding: 65px 0; text-align: center; font-family: "Gill Sans", "Gill Sans MT", Arial, Helvetica, sans-serif; }
a, a:hover { color: #185787; }
li { list-style: none; }
li li { list-style: circle; }
.clear { clear: both; }
.container { position: relative; margin: 0 auto; width: 580px; }

.tools { background: #fff; border-bottom: 1px dashed #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd; text-align: left; padding: 0 34px 11px 34px; }
.tools a { font-size: 10px; font-weight: bold; display: inline; text-decoration: none; color: #808080; margin-right: 10px; }
.tools input { font-size: 10px; font-weight: bold; display: inline; margin-right:10px; color: #808080; }
.tools .icon { margin-top: 4px; }
.tools .right { float: right; margin-right: 0px; margin-left: 10px; margin-top:5px; }

.top { width: 100%; }
.top #tl { float:left; }
.top #t { float:left; width: 564px; height: 8px;  background: #fff; }
.top #tr { float:right; }
.body { background: #fff; padding: 26px 34px 26px 34px; font-size: 12px; color: #3e434a; font-weight: normal; line-height: 20px; text-align: left; border-left: 1px solid #DDD; border-right: 1px solid #DDD; }
.body * { margin-bottom: 13px; }
/* #f1fafe */
.body pre { font-family: monospace; background: #f8f8f8; font-size: 11px; line-height: 14px; color: #1f1f1f; border: 1px solid #c0c0c0; margin: -2px 0px 26px 0px; padding: 13px; text-align: left; white-space: pre-wrap; whiespace: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
.body h1 { font-size: 30px; margin-bottom: 26px; font-weight: normal; color: #262626; padding: 0; letter-spacing: 0; line-height: 33px; }
.body h2 { font-size: 20px; font-weight: normal; color: #262626; padding: 0; letter-spacing: 0; }
.body h3 { font-size: 16px; font-weight: normal; color: #262626; padding: 0; letter-spacing: 0; }
.body h4 { display: inline; border-top: 1px solid #c0c0c0; border-left: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; background: #f0f0f0; padding: 4px 13px 2px 13px; }
.body p { font-size: 12px; color: #3e434a; } 
.body li { margin-bottom: 0px; }
.body li ul { padding: 0 0 0 20px; margin-bottom: 0px; }
.body hr { color: #f1f1f1; }
.body strong { margin-bottom: 0px; display: inline; }
.body table { border: 1px solid #c0c0c0; border-collapse: collapse; margin: 0 0 26px 0; text-align: left; width: 510px; }
.body table th { padding: 5px 17px; text-transform: uppercase; border-bottom: 1px dashed #c0c0c0; border-collapse: collapse; }
.body table td { padding: 5px 17px; }
.body textarea { font-family: monospace; background: #f8f8f8; font-size: 11px; line-height: 14px; color: #1f1f1f; border: 1px solid #c0c0c0; margin: -2px 0px 0px 0px; padding: 13px; }
.body input[type="text"] { font-family: monospace; background: #f8f8f8; font-size: 11px; line-height: 14px; color: #1f1f1f; border: 1px solid #c0c0c0; margin: -2px 0px 0px 0px; padding: 13px; width: 484px; }
.body #cancel { font-size: 10px; font-weight: bold; display: inline; text-decoration: none; color: #808080; margin-right: 10px; }
.body input[type="submit"] { font-size: 10px; font-weight: bold; display: inline; margin-right:10px; color: #808080; }
.bottom { width: 100%; }
.bottom #bl { float:left; }
.bottom #b { float:left; width: 564px; height: 8px; background:#fff; }
.bottom #br { float:right; }
.footer { display:inline; float:right; color: #c0c0c0; font-size: 10px;  padding: 2px 8px; text-align: right; }
.footer a { text-decoration: none; color: #f0f0f0; }

