html[dir=ltr] {
	direction: ltr;
	unicode-bidi: embed;
}

body {
	background-color: white;
	color: black;
	margin: 10px;
	cursor: default;
	font-size: 13px;
}

a:link {
  color: rgb(63, 110, 194);
  text-decoration: none;
}

a:visited {
  color: rgb(63, 110, 194);
  text-decoration: none;
}

a:hover {
	color: black;
}

a:active {
  color: rgb(37, 64, 113);
}

p {
	text-align: justify;
}

#tools {
	-webkit-box-align: stretch;
	-webkit-padding-start: 667px;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

#mainview {
	-webkit-box-align: stretch;
	-webkit-padding-start: 267px;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

#mainview-content {
	-webkit-border-start: 1px solid #C6C9CE;
	box-sizing: border-box;
	max-width: 888px;
	min-height: 100%;
	min-width: 600px;
	padding: 0 24px;
	position: relative;
}

#navbar-container {
	/*-webkit-border-end: 1px solid #C6C9CE;*/
	background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #FFFFFF), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
	bottom: 0;
	display: block;
	left: 0;
	top: 0;
	width: 267px;
	position: absolute;
	z-index: 2;
	height: 100%;
	margin: 0;
}

.header-link {
	float: right;
	padding-top: 25px;
	padding-right: 10px;
	text-decoration: none;
}

#settings-title {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 13px;
  text-align: end;
}

#settings-title > a {
  color: #53637d;
  text-shadow: white 0 1px 2px;
}

#navbar-container > ul {
  -webkit-user-select: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navbar-item {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #426dc9;
	cursor: pointer;
	display: block;
	font-size: 105%;
	outline: none;
	padding: 7px 0;
	text-align: end;
	text-shadow: white 0 1px 1px;
	-webkit-padding-end: 24px;
}

#search-field {
	margin: 0;
}

.navbar-sub-item {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #426dc9;
	cursor: pointer;
	display: block;
	font-size: 85%;
	outline: none;
	padding: 7px 0;
	text-align: end;
	text-shadow: white 0 1px 1px;
	-webkit-padding-end: 24px;
}

.navbar-sub-item > a {
	color: #606060;
}

.navbar-item-parent {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	color: #426dc9;
	cursor: pointer;
	display: block;
	font-size: 140%;
	outline: none;
	padding: 7px 0;
	text-align: end;
	text-shadow: white 0 1px 1px;
	-webkit-padding-end: 24px;
}

.navbar-item-outline {
	color: #c0c0c0;
}

.navbar-item-selected {
  -webkit-box-shadow: 0px 1px 0px #f7f7f7;
  background: -webkit-linear-gradient(left, #bbcee9, #bbcee9 97%, #aabedc);
  border-bottom: 1px solid #8faad9;
  border-top: 1px solid #8faad9;
  color: black;
  text-shadow: #bbcee9 0 1px 1px;
}

/*
.navbar-item-selected > a {
	color: black;
}
*/

.page h1 {
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  border-bottom: 1px solid #eeeeee;
  color: #53637d;
  font-size: 200%;
  font-weight: normal;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 13px;
  text-shadow: white 0 1px 2px;
}

section {
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #eeeeee;
  display: -webkit-box;
  margin-top: 10px;
  padding-bottom: 20px;
}

section > h3 {
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
  width: 140px;
  color: black;
}

.example {
	margin-top: 20px;
}

section > div > h4 { 
	display: inline; 
	border-bottom: 1px dashed #8faad9; 
	border-top: 1px solid #8faad9; 
	border-left: 1px solid #8faad9; 
	border-right: 1px solid #8faad9; 
	background: -webkit-linear-gradient(right, #bbcee9, #bbcee9 92%, #aabedc);
	text-shadow: #bbcee9 0 1px 1px;
	/*background: #bbcee9;*/ /*#f0f0f0;*/ 
	padding: 2px 13px 2px 13px; 
	font-weight: normal;
	margin-top: 20px;
}

section > div > pre { 
	font-family: monospace; 
	/*background: #EAEEF3;*/ /*#f8f8f8; */
	font-size: 11px; 
	line-height: 14px; 
	color: #000000; /*#1f1f1f; */
	border: 1px solid #c0c0c0; 
	margin: 2px 0px 26px 0px; 
	padding: 13px; 
	text-align: left; 
	white-space: pre-wrap; 
	whiespace: -moz-pre-wrap !important; 
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
	-webkit-border-end: 1px solid #C6C9CE;
	background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(right, #EAEEF3, #EAEEF3 99%, #D3D7DB);
}

section > div:only-of-type {
  -webkit-box-flex: 1;
}


